@import url(variables.css);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "SF-Pro-Text-Regular.otf";
}
body {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}
.header {
    background-color: var(--color-primario);
    top: 0;
    width: 100%;
    position:relative;
    z-index: 1;
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
}
.header__logo {
    display: flex;
    gap: 10px;
    
}
.logo__icono img {
    width: 1.5em;
    
}
.logo__titulo {
    font-family: "SF-Pro-Text-Bold.otf";
    text-transform: uppercase;
    color: var(--color-ternario);
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;

}
.header__menu {
    width: auto;
    height: auto;
}
.header__menu img{
    width: 1.5em;
}
.footer {
    z-index: 11;
    height: 60px;
    width: 100%;
    position: fixed;
    bottom: 0px;
    background: var(--color-primario);
}
.footer ul {
    display: flex;
    justify-content: space-between;
}
.footer ul li {
    list-style: none;
    margin: .5em 0;
}
.footer ul li a img {
    width: 2em;
}
.main {
    overflow: scroll;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}
section {
    margin-bottom: 30px;
}
.main__balance {
    overflow: hidden;
    width: 100%;
    min-height: 300px;
    display: flex;
    flex-direction: column;
}
.bck-crcl {
    width: 100%;
    height: 30vh;
    position: relative;
    display: flex;
    justify-content: center;
}
.crcl-img {
    width: 100%;
    height: 80%;
    background-color: var(--color-primario);
    border-bottom-left-radius: 100%;
    border-bottom-right-radius: 100%;
}

.grn-crcl {
    width: 175px;
    height: 175px;
    background: var(--color-secundario);
    position: absolute;
    border-radius: 50%;
    bottom: 0;
    display: flex;
    gap: 5px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "SF-Pro-Text-Bold";
    color: var(--color-ternario);
    text-transform: capitalize;
    font-size: 1.2em;
}
.main__graph {
    width: 100%;
    height: auto;
}
.buttons {
    margin-top: 25px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    min-height: 40px;
    max-height: 40px;
    margin-bottom: 20px;
}
.buttons button{
    border-radius: 20px;
}
.assets {
    width: 100px;
    background-color: var(--color-primario);
    color: var(--color-ternario);
    font-size: 1em;
    border: none;
    text-transform: capitalize;
}
.debt {
    width: 75px;
    border: 2px #00DDA3 solid;
    background: none;
    text-transform: capitalize;
    font-size: 1em;
    color: var(--color-secundario);
}
.income {
    width: 100px;
    background: none;
    color: var(--color-cuarto);
    font-size: 1em;
    border: 2px #B5C5C3 solid;
    text-transform: capitalize;
}
.graph {
    
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 200px;
    
}
.graph img {
    object-fit: contain;
    max-width: 100%;
    max-height: 100%;
}
.main__popimg {
    width: 100%;
    background-color: rebeccapurple;
    height: 200px;
}

