<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/balance.css">
    <title>Balance</title>
</head>
<body>
    <div class="fondo1">
        <div class="total__balance">
            <h3>total</h3>
            <h3>balance</h3>
            <h3><small>$</small>214,417</h3>
        </div>
        <!-- <div class="contbola">
        <div class="bola"></div>
        <div class="bola"></div>
        <div class="bola"></div>
        <div class="bola"></div> -->
        </div>
    </div>
    <div class="fondo2">
    </div>
    <header class="header">
        <div class="header__logo">
            <div class="logo__icono"><img src="../storage/img/Group2.svg" alt=""></div>
            <div class="logo__titulo">inveto</div>
        </div>
        <div class="header__menu"><img src="../storage/img/menu2.svg"></div>
    </header>
    <main>
        <section class="main__balance">

        </section>
        <section class="main__graph">

        </section>
        <section class="main__popimg">

        </section>
    </main>
    <footer class="footer">
        <ul>
            <li>
                <a href="#"><img src="../storage/img/icon.svg"></a>
            </li>
            <li>
                <a href="#"><img src="../storage/img/icon_1.svg"></a>
            </li>
            <li>
                <a href="#"><img src="../storage/img/icon_2.svg"></a>
            </li>
            <li>
                <a href="#"><img src="../storage/img/icon_3.svg"></a>
            </li>
            <li>
                <a href="#"><img src="../storage/img/icon_4.svg"></a>
            </li>
        </ul>
    </footer>
</body>
</html>