<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/cards.css">
    <title>Cards</title>
</head>
<body>
    <header class="header">
        <div class="header__logo">
            <div class="logo__icono"><img src="../storage/img/Group.svg" alt=""></div>
            <div class="logo__titulo">inveto</div>
        </div>
        <div class="header__menu"><img src="../storage/img/menu.svg"></div>
    </header>

    <main class="main">
        <h3 class="main__title__1">investing tips</h3>

        <section class="main__banner">
            <div class="chancho">
                <div><img src="../storage/img/chancho.png" alt=""></div>
            </div>
            <div class=" popinfo">
                <div class="salirdiv"><button class="salir"><strong>x</strong></button></div>
                <div class="popdiv">
                <h4><strong>What is an EFT?</strong></h4>
                <small>by james b, PHD</small>
                <button class="learn"><strong>learn more</strong></button>
                </div>
                
            </div>

        </section>

        <h3 class="main__title__2">my cards <small>(4)</small></h3>

        <section class="main__cards">
            <div class="mastercard"></div>
            <div class="visa"></div>
            <div class="mastercard"></div>
            <div class="visa"></div>
        </section>
    </main>

    <footer class="footer">
        <ul>
            <li>
                <a href="#"><img src="../storage/img/icon.svg"></a>
            </li>
            <li>
                <a href="balance.html"><img src="../storage/img/icon_1.svg"></a>
            </li>
            <li>
                <a href="cards.html"><img src="../storage/img/menuverde.svg"></a>
            </li>
            <li>
                <a href="#"><img src="../storage/img/icon_3.svg"></a>
            </li>
            <li>
                <a href="../index.html"><img src="../storage/img/icon_4.svg"></a>
            </li>
        </ul>
    </footer>
</body>
</html>